.file {
    display: flex;
    justify-content: space-between;
}

.file span {
    font-size: 0.9em;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
    background-color: #eeeeee;
    margin: 5px 0px;
    min-width: 65%;
}

.file button {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    outline: none;
    height: 35px;
    border: none;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    margin: 5px 0px
}

.file button:hover {
    opacity: 0.7;
}
